@model Projeto_final_Atos.Models.Atendimento

@{
    ViewData["Title"] = "Meu Destino";
}

<div class="container">
<h1>Create</h1>

<h4>Atendimento</h4>
<hr />
<div class="row mb-3">
    <div class="col-sm-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-10">
                <label asp-for="idUsuario" class="form-label"></label>
                <select asp-for="idUsuario" class ="form-control" asp-items="ViewBag.idUsuario"></select>
            </div>
            <div class="col-sm-10">
                <label asp-for="nome" class="form-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <label asp-for="email" class="form-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <label asp-for="duvida" class="form-label"></label>
                <input asp-for="duvida" class="form-control" />
                <span asp-validation-for="duvida" class="text-danger"></span>
            </div>
            <div class="col-sm-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
